body, html{
    width: 100%;  /*source data pour toute la page*/
    height: 100%;
    margin: 0;
    padding: 0%;
    background-color: rgba(219, 244, 245, 0.301);
}

#header{
    background: url("header.jpg.jpg") no-repeat center;
    display: flex;
    text-align: center;
    background-size: cover;
    border-style: groove;
}

#header > h1{
    font-family: "Arial";
    font-size: 3em;
    color: darkslategrey;
    border-style: groove;
    margin: 7% 7% 7% 4%;
    background-color: whitesmoke;
    }

/* SECTION MENU */

.cont-menu{
    display: flex;
    align-items: baseline;
    height: max-content;
}

.menu{
    display: flex;
    width: 100%;
}

span{
text-align: center;
}

#el1, #el2, #el3, #el4, #el5{
    width: 20%;
    padding: 1%;
    border: darkslategrey;
    background-color: rgb(183, 219, 219);
    font-size: 1em;
    display: flex;
    color: rgb(53, 78, 99);
    text-align: center;
}

#search{
    background: rgb(255, 255, 255);
    font-size: 1em;
    width: 100%;
}

/* SECTION MAIN : CONTAINS 4 ELEMENTS (+ footer)*/
.main{
    display: flex;
    flex-wrap: wrap;    
    justify-content: flex-start;
}

#intr{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex: 3;
    padding: 1% 1% 1% 0;
    margin: 1%;
    box-shadow: darkgrey;
    background-color: rgb(183, 219, 219);
}

#intr p{
padding: 5%
}

.main > #par1, #par2, #par3{ /* rélation entre parent et enfints*/
    flex: 1;
    margin: 1%;
    box-shadow: darkslategray;
    min-width: 18%;
    max-height: 50%;
    padding: 1%;
    background-color: rgb(183, 219, 219);
}

.main > div{
    width: 70%;
}
h2{
    font-size: 1em;
}

img{
    width: 95%;
    padding: 2%
}

#footer{
    text-align: end;
}

/* MEDIA QUERIS !!! */

@media screen and (max-width: 640px){
    #header{
        background: url("header.jpg.jpg") no-repeat center;
        width: 100%;
        display: flex;
        text-align: center;
        background-size: cover;
        border-style: groove;
    }
   
    #header > h1{
        font-family: "Arial";
        font-size: 3em;
        color: darkslategrey;
        border-style: groove;
        margin: 7% 7% 7% 4%;
        background-color: whitesmoke;
        }
    /* SECTION PAGE */
    .page{
        display: flex;
        justify-content: space-around;
    }


    .cont-menu{
        display: flex;
        align-items: baseline;
        height: max-content;

    }
    
    .menu{
        display: flex;
        flex-direction: column;
    }

    .menu span{
        display: none;
    }
    
    #el1, #el2, #el3, #el4, #el5{
        width: 100%;
        margin: 2%;
        padding: 10%;
        background: rgb(183, 219, 219);
        font-size: 1em;
        text-align: center;
    }
    
    i{
        padding: 5%;
    }

    #search{
        background: lightgrey;
        font-size: 1em;
    }
    /* SECTION MAIN : CONTAINS 4 ELEMENTS */
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    #intr{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 90%;
        flex: 3;
        padding: 1%;
        margin: 1%;    
    }
    
    .main > #par1, #par2, #par3{ /* rélation entre parent et enfants*/
        flex: 1;
        margin: 1%;
        width: 90%;
        max-height: 45%;
    }
    h2{
        font-size: 1em;
    }
    
    img{
        width: 95%;
        padding: 2%
    }
}