body, html{
    width: 100%;  /*source data pour toute la page*/
    height: 100%;
}

#header{
    background: url("header.jpg.jpg") no-repeat center;
    width: 100%;
    display: flex;
    text-align: center;
    background-size: cover;
    border-style: groove;
}

#header > h1{
    /*margin: auto;      to make text in the center of the container*/
    font-family: "Arial";
    font-size: 3em;
    color: darkslategrey;
    border-style: groove;
    margin: 7% 7% 7% 4%;
    background-color: whitesmoke;
    }

/* SECTION MENU */

.cont-menu{
    display: flex;
    width: 100%;
    margin-top: 1%;
}

#el1, #el2, #el3, #el4{
    min-width: 20%;
    max-height: 10%;
    border: groove darkslategrey;
    background: linear-gradient(#e66465, #9198e5);
    font-size: 1em;
    text-align: center;
}

#search{
    background: lightgrey;
    font-size: 1em;
    max-height: 10%;
}
/* SECTION MAIN : CONTAINS 4 ELEMENTS */
.cont_page{
    display: flex;
}

#intr{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 60%;
    max-height: 5%;
}

.right{
    display: flex;
    justify-content: flex-end;
}

#sous_cont_page

.cont_page > .par1, .par2, .par3{
    flex: auto;
    min-width: 40%;
    min-height: 50%;
}

img{ height: 15%;
width: 15%;}